body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ffff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #444;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 40px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 30px 30px;
}

.section-about {
    text-align: center;
}

.section-courses {
    text-align: center;
}

.section-program {
    text-align: center;
}

.section-fasilitas-contact {
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.cardpos{
    display: flex;
    justify-content: center;
}
.cardcontainer {
  display: flex;
  max-width: 1000px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  flex: 1;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.text-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: #333;
}

p {
  color: #555;
}

.container {
    padding: auto;
}

.slider-wraper {
    position: relative;
    max-width: fit-content;
    margin: 0 auto;
    overflow: hidden;

}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

.slider-nav a{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #333;
    opacity: 0,75;
    transition: opacity ease 250ms;
    margin-top: 50px;
}

.card-container-program{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card1program{
    width: 325px;
    background-color: #444;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card2program{
    width: 325px;
    background-color: #444;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card3program{
    width: 325px;
    background-color: #444;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card img{
    width: 100px;
    height: auto;
    object-fit: cover;
}
.card-content-program {
    padding: 16px;
}
.card-content-program h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content-program p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content-program .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;